.furia-animal{
  margin-left: 0px;

  h3{
  	margin-top: 0px;
  	font-weight: 700;
    font-size: 15px;
  }

  h5{
    font-weight: 400;
    font-size: 12px;
  }

  img{
    padding: 5px;
  	
  }

  p{
   color: $color-tipografia;
   font-weight: 300;
  }
}

.imagen-utah{
  width: 100%;
}
