.columna-imagenes{
	width: 100%;
	display: inline-block;
	vertical-align: top;
}

.boton-contacto{
	margin-top: 10px;
}


.display-flex-centrado{
  display: inline-block;
}

.row-contacto{
    margin-top: 50px;
    display: inline-block;
}

.name-email-input{
  display: inline-block;
}


.info-contacto{
 text-align: center;
}

.formulario-contacto{
 text-align: center;
 margin-top: 20px;	
}