.columna-imagenes{
	width: 33.3%;
	display: inline-block;
	vertical-align: top;
}

.container{
    max-width: 90%;
    margin: 10px auto;
    font-size: 0;
}

.image-container{
	position:relative;
}

.image-container img {
    max-width: 100%;
    width: 100%;
}

.image-hover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
    color: white;

    p{
      font-size: 15px;
      text-align: center;
    }
}


.image-hover-1{
   background: rgba(225, 225, 227, 0.7);
   color: white;

   p{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
   }
}

.image-hover-2{
   background: rgba(225, 225, 227, 0.7);

   p{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
   }
}

.image-hover-3{
   background: rgba(228, 207, 140, 0.7);

   p{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
   }
}

.image-hover-4{
   background: rgba(248, 247, 227, 0.7);

   p{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
   }
}

.image-hover-5{
   background: rgba(232, 236, 235, 0.7);

   p{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
   }
}

.image-hover-6{
   background: rgba(226, 221, 218, 0.7);

   p{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
   }
}

.image-hover-7{
   background: rgba(232, 236, 235, 0.7);

   p{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
   }
}

.image-hover-8{
   background: rgba(235, 229, 213, 0.7);

   p{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
   }
}

.image-hover-9{
   background: rgba(255, 170, 163, 0.7);

   p{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
   }
}

.image-hover-10{
   background: rgba(218, 217, 223, 0.7);

   p{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
   }
}

.image-hover-11{
   background: rgba(235, 229, 213, 0.7);

   p{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
   }
}



.image-hover:hover {
    opacity: 1;
}


.contacto{
  text-align: center;
  font-size: 700;
  font-size: 20px;
  margin-top: 50px;
  color: $color-tipografia;
}


.boton-contacto{
  color: #fff!important;
  background-color: $rosa!important;
  border: none;
  outline: 0;
  padding: 5px 16px;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
}

.fa {
  font-size: 20px;
  color: $color-tipografia;
  padding: 5px 10px 5px 5px;
}

.fa-map-marker{

}

.input-estilos{
  padding: 5px 20px 5px 5px;
}

.name-email-input{
  display: flex;
}

.estilos-input{
  margin-right: 20px;
  padding: 8px;
}

.acomodar-boton{
  display: flex;
  justify-content: center;
}


.row-contacto{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.fondo-servicios{
  background-color: $verde;
  padding: 40px;
  margin-top: 50px;
}

/*
.centrado-columnas{
  max-width: 800px;
  margin: auto;
}
*/

.display-flex-centrado{
  display: flex;
  justify-content: center;
}

.servicios{
  text-align: center;
  font-size: 700;
  font-size: 20px;
  margin-top: 20px;
  color: $color-tipografia;
}



.servicios-estilos{
    margin-top: 20px;
    text-align: center;
    margin-top: 10px;


    h4{
      color: $color-tipografia;
    }

    p{
      text-align: center;
      color: $color-tipografia;
      font-weight: 300;
    }

    .fa-mobile{
      font-size: 30px;
      color: $color-tipografia;
    }

    .fa-heart{
      font-size: 30px;
      color: $color-tipografia;
    }
}
